In [34]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression

In [22]:
df = pd.read_csv('homeprices.csv')
df.head(10)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [23]:
df.bedrooms.mean()

4.2

In [24]:
import math
median_bedrooms = math.floor(df.bedrooms.median())

In [25]:
median_bedrooms

4

In [26]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [27]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [38]:
reg = LinearRegression()
reg.fit(df[['area', ]], df.price)

LinearRegression()

In [43]:
predictions = reg.predict(df[['area', 'bedrooms', 'age']])

In [44]:
df['predictions'] = predictions

In [45]:
df.head()

   area  bedrooms  age   price    predictions
0  2600       3.0   20  550000  518217.632976
1  3000       4.0   15  565000  602590.079374
2  3200       4.0   18  610000  615307.414037
3  3600       3.0   30  595000  597962.895832
4  4000       5.0    8  760000  760663.426755

In [85]:
data = pd.read_csv('hiring.csv')
data.head(10)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [100]:
data.experience = data.experience.fillna('zero')

In [101]:
from word2number import w2n

In [102]:
data.experience = data.experience.apply(w2n.word_to_num)

In [99]:
data.experience

0       NaN
1       NaN
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [84]:
import math

In [103]:
data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [106]:
median_score = math.floor(data['test_score(out of 10)'].median())

In [107]:
median_score

8

In [108]:
data['test_score(out of 10)'] = data['test_score(out of 10)'].fillna(median_score)

In [109]:
reg = LinearRegression()

In [110]:
data.head(1)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000

In [113]:
reg.fit(data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], data['salary($)'])

LinearRegression()

In [116]:

reg.predict([[2,9,6]])

c:\users\acer\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])